
<div class="footer container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 footer__logo"><span class="icon-logo"></span></div>
      <div class="col-xs-12 col-sm-2 footer__policy col-sm-push-8"><a href="http://www.ppcsamurai.com/privacy-policy/" target="blank">Privacy Policy</a></div>
      <div class="col-xs-12 col-sm-8 col-sm-pull-2 footer__title">PPC Samurai © 2018.  All Rights Reserved</div>
    </div>
  </div>
</div>